*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  header {
    font-size: 3vmin;
    color: rgb(0, 0, 0);
    letter-spacing: 1vmin;
  }
  
  body {
    font-family: 'Lato' , sans-serif;
    background-image: url(../imgs/spacement-0.jpg);
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  
  .game-board{
    display:flex;
    flex-direction: row;
  }
  
  h1 {
    font-weight: bold;
    margin-top: 2vmin;
    color: red;
    font-size: 8vmin;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    color: #EBBF5C;
    font-size: 4vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1vmin; */
  }
  
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
  }
  
  #main-image {
  display: fill;

  }
  
  h4{
    font-size: 5vmin;
    color: rgb(208, 3, 3);
    display:flex;
    align-items: center;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right:40%; 
    margin-bottom: 1vh;
    margin-top: 3vh;
  }
  
  #spotLight{
    color:rgb(172, 172, 172);
    font-size: 5vmin;
    letter-spacing:-10px; 
    font-family:"Verdana", "Geneva", "Tahoma", sans-serif;
    word-spacing: 30px; 
    word-break:break-all;
    word-wrap: break-word;
    white-space: pre;
  }
  
  .button-container{
    display:flex;
    justify-content: center;
    margin-top: 1vmin;
  }

  
  button{
    height: 5vh;
    width: 7vh;
    color: rgba(0, 0, 0, 0.809);
    padding: 0.2vmin;
    background-color: rgba(255, 255, 255, 0.595);
    font-size: 4vh;
    margin: 0.2vmin;
    border-radius: 0.5vmin;
  }

  button:hover{
    color: rgb(182, 194, 16);
    background-color: rgba(255, 255, 255, 0.186);
  }
  
  button.correct{
    background-color: #8FC9E2;
    color: rgba(255, 255, 255, 0.186);
}

button.wrong{
    background-color: #AD4442;
    color: rgba(255, 255, 255, 0.147);
  }

  #playButton {
    height: 5vmin;
    width: 15vmin;
    padding: 0.5vmin;
    margin-top: 3vmin;
    font-size: 2vmin;
    border: .5vh solid white;
    border-radius: 3vmin;
    background-color: #ebc05c9b;
  }
    
  #message {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3vmin;
    margin-top: 1vmin;
  }
  
  main  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 65%;
    align-items: center;
  }
  
  .flex-ctr{
    justify-content: center;
  }